body{
    background-color: #33ccff;
    font-family: 'Russo One', sans-serif;
}

h3 {
	font-size:24px;
}
h1 {
	font-size:56px;
}

img {
	display:block ;
	height: 450px;
	width: 480px;
}

#title {
	background: #ff4d4d;
	width: 600px;
	height: 90px;
	padding-left:100px;
	border-radius:5px;
}

#main {
	background: white;
	width: 600px;
	padding-left:100px
	border-radius:5px;
}
